JPSD/SD/SDSYUJAG/SDSYUJAG00/Web References/SDSYUJAG00CSQL/CSQL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="mGetDataClearRow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pSQL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="pNoDatRec" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="pClearRow" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mGetDataClearRowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mGetDataClearRowResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mGetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pSQL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDs">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="pNoDatRec" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mGetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mGetDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mGetDataClearRowSoapIn">
    <wsdl:part name="parameters" element="tns:mGetDataClearRow" />
  </wsdl:message>
  <wsdl:message name="mGetDataClearRowSoapOut">
    <wsdl:part name="parameters" element="tns:mGetDataClearRowResponse" />
  </wsdl:message>
  <wsdl:message name="mGetDataSoapIn">
    <wsdl:part name="parameters" element="tns:mGetData" />
  </wsdl:message>
  <wsdl:message name="mGetDataSoapOut">
    <wsdl:part name="parameters" element="tns:mGetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="CSQLSoap">
    <wsdl:operation name="mGetDataClearRow">
      <wsdl:input message="tns:mGetDataClearRowSoapIn" />
      <wsdl:output message="tns:mGetDataClearRowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mGetData">
      <wsdl:input message="tns:mGetDataSoapIn" />
      <wsdl:output message="tns:mGetDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CSQLSoap" type="tns:CSQLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="mGetDataClearRow">
      <soap:operation soapAction="http://tempuri.org/mGetDataClearRow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mGetData">
      <soap:operation soapAction="http://tempuri.org/mGetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSQL">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="CSQLSoap" binding="tns:CSQLSoap">
      <soap:address location="http://knapsv/JPGAP/CO/COCOMONW/COCOMONW00/CSQL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>