JPG/KE/KEKESJAG/KEKESJAG00/Web References/KEKESJAG00KEKESJAW00/KEKESJAW00.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/KEKESJAW00/Service1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/KEKESJAW00/Service1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/KEKESJAW00/Service1">
      <s:element name="mDel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintDelCnt" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrDelKeys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mDelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mDelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="mDelSoapIn">
    <part name="parameters" element="s0:mDel" />
  </message>
  <message name="mDelSoapOut">
    <part name="parameters" element="s0:mDelResponse" />
  </message>
  <portType name="KEKESJAW00Soap">
    <operation name="mDel">
      <input message="s0:mDelSoapIn" />
      <output message="s0:mDelSoapOut" />
    </operation>
  </portType>
  <binding name="KEKESJAW00Soap" type="s0:KEKESJAW00Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="mDel">
      <soap:operation soapAction="http://tempuri.org/KEKESJAW00/Service1/mDel" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="KEKESJAW00">
    <port name="KEKESJAW00Soap" binding="s0:KEKESJAW00Soap">
      <soap:address location="http://knapsv/JPGAP/KE/KEKESJAW/KEKESJAW00/KEKESJAW00.asmx" />
    </port>
  </service>
</definitions>