JPG/KE/KERUIJOG/KERUIJOG00/Web References/KERUIJOG00KERUIJOW00/KERUIJOW00.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/KERUIJOW00/Service1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/KERUIJOW00/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/KERUIJOW00/Service1">
      <s:element name="mCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrKuracd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKyocd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJacdFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJacdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJascdFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJascdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrStkbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pdecPageMax" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHanbaiCdFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHanbaiCdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTaikbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHkkbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKikankbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeTo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mCheck2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrKuracd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKyocd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJaCdFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJaCdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJasCdFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJasCdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrStkbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pdecPageMax" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHanbaiCdFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHanbaiCdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTaikbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHkkbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKikankbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeTo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mCheck2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mCheck2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mExcel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKuracd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKyocd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJacdFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJacdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJascdFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJascdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrStkbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrPgkbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKuraNm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKyoNm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJaNmFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJaNmTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJasNmFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJasNmTo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pdecPageMax" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCentcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHanbaiCdFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHanbaiCdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTaikbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHkkbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHanbaiNmFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHanbaiNmTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKikankbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSdPrt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mExcelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mExcelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mExcel3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKuracd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKyocd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJaCdFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJaCdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJasCdFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJasCdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrStkbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrPgkbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKuraNm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKyoNm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJaNmFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJaNmTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJasNmFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJasNmTo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pdecPageMax" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCentcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrZeroSend" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSdPrt" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pbolLzhAutoExec" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHanbaiCdFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHanbaiCdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTaikbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHkkbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHanbaiNmFr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHanbaiNmTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrZipFlg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrfaxNo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrmailADD" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKikankbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeTo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="mExcel3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mExcel3Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="compressStr2Arc2Str">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pBase64Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="compressStr2Arc2StrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="compressStr2Arc2StrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mCheckSoapIn">
    <wsdl:part name="parameters" element="tns:mCheck" />
  </wsdl:message>
  <wsdl:message name="mCheckSoapOut">
    <wsdl:part name="parameters" element="tns:mCheckResponse" />
  </wsdl:message>
  <wsdl:message name="mCheck2SoapIn">
    <wsdl:part name="parameters" element="tns:mCheck2" />
  </wsdl:message>
  <wsdl:message name="mCheck2SoapOut">
    <wsdl:part name="parameters" element="tns:mCheck2Response" />
  </wsdl:message>
  <wsdl:message name="mExcelSoapIn">
    <wsdl:part name="parameters" element="tns:mExcel" />
  </wsdl:message>
  <wsdl:message name="mExcelSoapOut">
    <wsdl:part name="parameters" element="tns:mExcelResponse" />
  </wsdl:message>
  <wsdl:message name="mExcel3SoapIn">
    <wsdl:part name="parameters" element="tns:mExcel3" />
  </wsdl:message>
  <wsdl:message name="mExcel3SoapOut">
    <wsdl:part name="parameters" element="tns:mExcel3Response" />
  </wsdl:message>
  <wsdl:message name="compressStr2Arc2StrSoapIn">
    <wsdl:part name="parameters" element="tns:compressStr2Arc2Str" />
  </wsdl:message>
  <wsdl:message name="compressStr2Arc2StrSoapOut">
    <wsdl:part name="parameters" element="tns:compressStr2Arc2StrResponse" />
  </wsdl:message>
  <wsdl:portType name="KERUIJOW00Soap">
    <wsdl:operation name="mCheck">
      <wsdl:input message="tns:mCheckSoapIn" />
      <wsdl:output message="tns:mCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mCheck2">
      <wsdl:input message="tns:mCheck2SoapIn" />
      <wsdl:output message="tns:mCheck2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mExcel">
      <wsdl:input message="tns:mExcelSoapIn" />
      <wsdl:output message="tns:mExcelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mExcel3">
      <wsdl:input message="tns:mExcel3SoapIn" />
      <wsdl:output message="tns:mExcel3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="compressStr2Arc2Str">
      <wsdl:input message="tns:compressStr2Arc2StrSoapIn" />
      <wsdl:output message="tns:compressStr2Arc2StrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KERUIJOW00Soap" type="tns:KERUIJOW00Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mCheck">
      <soap:operation soapAction="http://tempuri.org/KERUIJOW00/Service1/mCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mCheck2">
      <soap:operation soapAction="http://tempuri.org/KERUIJOW00/Service1/mCheck2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mExcel">
      <soap:operation soapAction="http://tempuri.org/KERUIJOW00/Service1/mExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mExcel3">
      <soap:operation soapAction="http://tempuri.org/KERUIJOW00/Service1/mExcel3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compressStr2Arc2Str">
      <soap:operation soapAction="http://tempuri.org/KERUIJOW00/Service1/compressStr2Arc2Str" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KERUIJOW00Soap12" type="tns:KERUIJOW00Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mCheck">
      <soap12:operation soapAction="http://tempuri.org/KERUIJOW00/Service1/mCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mCheck2">
      <soap12:operation soapAction="http://tempuri.org/KERUIJOW00/Service1/mCheck2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mExcel">
      <soap12:operation soapAction="http://tempuri.org/KERUIJOW00/Service1/mExcel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mExcel3">
      <soap12:operation soapAction="http://tempuri.org/KERUIJOW00/Service1/mExcel3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compressStr2Arc2Str">
      <soap12:operation soapAction="http://tempuri.org/KERUIJOW00/Service1/compressStr2Arc2Str" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KERUIJOW00">
    <wsdl:port name="KERUIJOW00Soap" binding="tns:KERUIJOW00Soap">
      <soap:address location="http://knapsv/JPGAP/KE/KERUIJOW/KERUIJOW00/KERUIJOW00.asmx" />
    </wsdl:port>
    <wsdl:port name="KERUIJOW00Soap12" binding="tns:KERUIJOW00Soap12">
      <soap12:address location="http://knapsv/JPGAP/KE/KERUIJOW/KERUIJOW00/KERUIJOW00.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>