JPG/MS/MSKYOJAG/MSKYOJAG00/Web References/MSKYOJAG00MSKYOJAW00/MSKYOJAW00.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/MSKYOJAW00/Service1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/MSKYOJAW00/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/MSKYOJAW00/Service1">
      <s:element name="mSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintMODE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKENCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKYOKYUCD" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKYOKYUNM" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrDEL" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrADD_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrEDT_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTIME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrADD_DT" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrEDT_DT" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="mSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mSetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mSetEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintMODE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKENCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKYOKYUCD" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKYOKYUNM" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrDEL" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrADD_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrEDT_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTIME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrADD_DT" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrEDT_DT" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mSetExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mSetExResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mSetKyokyu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cdb" type="tns:CDB" />
            <s:element minOccurs="1" maxOccurs="1" name="pintMODE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKENCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKYOKYUCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKYOKYUNM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrDEL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrADD_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrEDT_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTIME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrEDT_DT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CDB" />
      <s:element name="mSetKyokyuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mSetKyokyuResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cdb" type="tns:CDB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mCSV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKENCD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mCSVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mCSVResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mSetSoapIn">
    <wsdl:part name="parameters" element="tns:mSet" />
  </wsdl:message>
  <wsdl:message name="mSetSoapOut">
    <wsdl:part name="parameters" element="tns:mSetResponse" />
  </wsdl:message>
  <wsdl:message name="mSetExSoapIn">
    <wsdl:part name="parameters" element="tns:mSetEx" />
  </wsdl:message>
  <wsdl:message name="mSetExSoapOut">
    <wsdl:part name="parameters" element="tns:mSetExResponse" />
  </wsdl:message>
  <wsdl:message name="mSetKyokyuSoapIn">
    <wsdl:part name="parameters" element="tns:mSetKyokyu" />
  </wsdl:message>
  <wsdl:message name="mSetKyokyuSoapOut">
    <wsdl:part name="parameters" element="tns:mSetKyokyuResponse" />
  </wsdl:message>
  <wsdl:message name="mCSVSoapIn">
    <wsdl:part name="parameters" element="tns:mCSV" />
  </wsdl:message>
  <wsdl:message name="mCSVSoapOut">
    <wsdl:part name="parameters" element="tns:mCSVResponse" />
  </wsdl:message>
  <wsdl:portType name="MSKYOJAW00Soap">
    <wsdl:operation name="mSet">
      <wsdl:input message="tns:mSetSoapIn" />
      <wsdl:output message="tns:mSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mSetEx">
      <wsdl:input message="tns:mSetExSoapIn" />
      <wsdl:output message="tns:mSetExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mSetKyokyu">
      <wsdl:input message="tns:mSetKyokyuSoapIn" />
      <wsdl:output message="tns:mSetKyokyuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mCSV">
      <wsdl:input message="tns:mCSVSoapIn" />
      <wsdl:output message="tns:mCSVSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MSKYOJAW00Soap" type="tns:MSKYOJAW00Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mSet">
      <soap:operation soapAction="http://tempuri.org/MSKYOJAW00/Service1/mSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mSetEx">
      <soap:operation soapAction="http://tempuri.org/MSKYOJAW00/Service1/mSetEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mSetKyokyu">
      <soap:operation soapAction="http://tempuri.org/MSKYOJAW00/Service1/mSetKyokyu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mCSV">
      <soap:operation soapAction="http://tempuri.org/MSKYOJAW00/Service1/mCSV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MSKYOJAW00Soap12" type="tns:MSKYOJAW00Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mSet">
      <soap12:operation soapAction="http://tempuri.org/MSKYOJAW00/Service1/mSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mSetEx">
      <soap12:operation soapAction="http://tempuri.org/MSKYOJAW00/Service1/mSetEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mSetKyokyu">
      <soap12:operation soapAction="http://tempuri.org/MSKYOJAW00/Service1/mSetKyokyu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mCSV">
      <soap12:operation soapAction="http://tempuri.org/MSKYOJAW00/Service1/mCSV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MSKYOJAW00">
    <wsdl:port name="MSKYOJAW00Soap" binding="tns:MSKYOJAW00Soap">
      <soap:address location="http://knapsv/JPGAP/MS/MSKYOJAW/MSKYOJAW00/MSKYOJAW00.asmx" />
    </wsdl:port>
    <wsdl:port name="MSKYOJAW00Soap12" binding="tns:MSKYOJAW00Soap12">
      <soap12:address location="http://knapsv/JPGAP/MS/MSKYOJAW/MSKYOJAW00/MSKYOJAW00.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>