JPG/KE/KESAIJAG/KESAIJAG00/Web References/KESAIJAG00KESAIJAW00/KESAIJAW00.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/KESAIJAW00/Service1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/KESAIJAW00/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/KESAIJAW00/Service1">
      <s:element name="mExcel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKURACDFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKURACDTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJACDFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJACDFrom_CLI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJACDTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJACDTo_CLI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrPgkbn1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrPgkbn2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrPgkbn3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTSADCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTSADNM" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mExcelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mExcelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mExcelSoapIn">
    <wsdl:part name="parameters" element="tns:mExcel" />
  </wsdl:message>
  <wsdl:message name="mExcelSoapOut">
    <wsdl:part name="parameters" element="tns:mExcelResponse" />
  </wsdl:message>
  <wsdl:portType name="KESAIJAW00Soap">
    <wsdl:operation name="mExcel">
      <wsdl:input message="tns:mExcelSoapIn" />
      <wsdl:output message="tns:mExcelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KESAIJAW00Soap" type="tns:KESAIJAW00Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mExcel">
      <soap:operation soapAction="http://tempuri.org/KESAIJAW00/Service1/mExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KESAIJAW00Soap12" type="tns:KESAIJAW00Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mExcel">
      <soap12:operation soapAction="http://tempuri.org/KESAIJAW00/Service1/mExcel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KESAIJAW00">
    <wsdl:port name="KESAIJAW00Soap" binding="tns:KESAIJAW00Soap">
      <soap:address location="http://knapsv/JPGAP/KE/KESAIJAW/KESAIJAW00/KESAIJAW00.asmx" />
    </wsdl:port>
    <wsdl:port name="KESAIJAW00Soap12" binding="tns:KESAIJAW00Soap12">
      <soap12:address location="http://knapsv/JPGAP/KE/KESAIJAW/KESAIJAW00/KESAIJAW00.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>