JPSD/SD/SDSYUJAG/SDSYUJAG00/Web References/SDSYUJAG00SDSYUJAW00/SDSYUJAW00.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/SDSYUJAW00/Service1" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/SDSYUJAW00/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/SDSYUJAW00/Service1">
      <s:element name="mSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrKANSCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSYONO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKBN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTSTANCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTSTANNM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSTD_CD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSTD_KYOTEN_CD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSYUTDTNM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSIJIYMD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSIJITIME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSDYMD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSDTIME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTYAKYMD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTYAKTIME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSYOKANYMD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSYOKANTIME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrAITCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrMETHEIKAKU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrRUSUHARI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKIGCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSADCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrASECD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSTACD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrFKICD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJAKENREN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrRENTIME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKIGTAIYO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrGASMUMU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrORGENIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHAIKAN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrGASGUMU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHOSKOKAN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrMETYOINA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTYOUYOINA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrVALYOINA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKYUHAIUMU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCOYOINA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSDTBIK2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSNTTOKKI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSDTBIK3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrMETFUKKI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHOAN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrGASGIRE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKIGKOSYO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCSNTGEN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCSNTNGAS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrSDTBIK1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrADD_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrEDT_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTIME" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mSetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mSetSoapIn">
    <wsdl:part name="parameters" element="tns:mSet" />
  </wsdl:message>
  <wsdl:message name="mSetSoapOut">
    <wsdl:part name="parameters" element="tns:mSetResponse" />
  </wsdl:message>
  <wsdl:portType name="SDSYUJAW00Soap">
    <wsdl:operation name="mSet">
      <wsdl:input message="tns:mSetSoapIn" />
      <wsdl:output message="tns:mSetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SDSYUJAW00Soap" type="tns:SDSYUJAW00Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mSet">
      <soap:operation soapAction="http://tempuri.org/SDSYUJAW00/Service1/mSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SDSYUJAW00Soap12" type="tns:SDSYUJAW00Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mSet">
      <soap12:operation soapAction="http://tempuri.org/SDSYUJAW00/Service1/mSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SDSYUJAW00">
    <wsdl:port name="SDSYUJAW00Soap" binding="tns:SDSYUJAW00Soap">
      <soap:address location="http://knapsv/JPGAP/SD/SDSYUJAW/SDSYUJAW00/SDSYUJAW00.asmx" />
    </wsdl:port>
    <wsdl:port name="SDSYUJAW00Soap12" binding="tns:SDSYUJAW00Soap12">
      <soap12:address location="http://knapsv/JPGAP/SD/SDSYUJAW/SDSYUJAW00/SDSYUJAW00.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>