JPG/KE/KEKANSYG/KEKANSYG00/Web References/KEKANSYG00KEKANSYW00/KEKANSYW00.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/KEKANSYW00/Service1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/KEKANSYW00/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/KEKANSYW00/Service1">
      <s:element name="mCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrKuracdFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKuracdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJacdFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJacdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHangrpFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHangrpTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrPgkbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHasseiTel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHasseiKei" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTaiouTel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTaiouShu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTaiouJuf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgdatekbn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pdecPageMax" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTsadcd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mExcel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKuracdFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKuracdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJacdFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJacdTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHangrpFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHangrpTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrPgkbn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHasseiTel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHasseiKei" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTaiouTel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTaiouShu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTaiouJuf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgdatekbn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pdecPageMax" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCentcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgTimeTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTsadcd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mExcelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mExcelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mCheckSoapIn">
    <wsdl:part name="parameters" element="tns:mCheck" />
  </wsdl:message>
  <wsdl:message name="mCheckSoapOut">
    <wsdl:part name="parameters" element="tns:mCheckResponse" />
  </wsdl:message>
  <wsdl:message name="mExcelSoapIn">
    <wsdl:part name="parameters" element="tns:mExcel" />
  </wsdl:message>
  <wsdl:message name="mExcelSoapOut">
    <wsdl:part name="parameters" element="tns:mExcelResponse" />
  </wsdl:message>
  <wsdl:portType name="KEKANSYW00Soap">
    <wsdl:operation name="mCheck">
      <wsdl:input message="tns:mCheckSoapIn" />
      <wsdl:output message="tns:mCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mExcel">
      <wsdl:input message="tns:mExcelSoapIn" />
      <wsdl:output message="tns:mExcelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KEKANSYW00Soap" type="tns:KEKANSYW00Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mCheck">
      <soap:operation soapAction="http://tempuri.org/KEKANSYW00/Service1/mCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mExcel">
      <soap:operation soapAction="http://tempuri.org/KEKANSYW00/Service1/mExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KEKANSYW00Soap12" type="tns:KEKANSYW00Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mCheck">
      <soap12:operation soapAction="http://tempuri.org/KEKANSYW00/Service1/mCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mExcel">
      <soap12:operation soapAction="http://tempuri.org/KEKANSYW00/Service1/mExcel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KEKANSYW00">
    <wsdl:port name="KEKANSYW00Soap" binding="tns:KEKANSYW00Soap">
      <soap:address location="http://knapsv/JPGAP/KE/KEKANSYW/KEKANSYW00/KEKANSYW00.asmx" />
    </wsdl:port>
    <wsdl:port name="KEKANSYW00Soap12" binding="tns:KEKANSYW00Soap12">
      <soap12:address location="http://knapsv/JPGAP/KE/KEKANSYW/KEKANSYW00/KEKANSYW00.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>