JPG/MS/MSKOSJAG/MSKOSJAG00/Web References/MSKOSJAG00MSKOSJAW00/MSKOSJAW00.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/MSKOSJAW00/Service1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/MSKOSJAW00/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/MSKOSJAW00/Service1">
      <s:element name="mExcel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKANSCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTEL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrADDR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCLI_CD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCLI_CD_TO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJA_CD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrJA_CD_CLI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHAN_GRP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHAN_CD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHAN_CD_CLI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHAN_CD_TO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHAN_CD_TO_CLI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUSER_CD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUSER_FLG0" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUSER_FLG1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrUSER_FLG2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHANBAI_KBN1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHANBAI_KBN2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHANBAI_KBN3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHANBAI_KBN4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHANBAI_KBN5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrHANBAI_KBN6" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mExcelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mExcelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mExcelSoapIn">
    <wsdl:part name="parameters" element="tns:mExcel" />
  </wsdl:message>
  <wsdl:message name="mExcelSoapOut">
    <wsdl:part name="parameters" element="tns:mExcelResponse" />
  </wsdl:message>
  <wsdl:portType name="MSKOSJAW00Soap">
    <wsdl:operation name="mExcel">
      <wsdl:input message="tns:mExcelSoapIn" />
      <wsdl:output message="tns:mExcelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MSKOSJAW00Soap" type="tns:MSKOSJAW00Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mExcel">
      <soap:operation soapAction="http://tempuri.org/MSKOSJAW00/Service1/mExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MSKOSJAW00Soap12" type="tns:MSKOSJAW00Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mExcel">
      <soap12:operation soapAction="http://tempuri.org/MSKOSJAW00/Service1/mExcel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MSKOSJAW00">
    <wsdl:port name="MSKOSJAW00Soap" binding="tns:MSKOSJAW00Soap">
      <soap:address location="http://knapsv/JPGAP/MS/MSKOSJAW/MSKOSJAW00/MSKOSJAW00.asmx" />
    </wsdl:port>
    <wsdl:port name="MSKOSJAW00Soap12" binding="tns:MSKOSJAW00Soap12">
      <soap12:address location="http://knapsv/JPGAP/MS/MSKOSJAW/MSKOSJAW00/MSKOSJAW00.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>