JPG/MS/MSPULJAG/MSPULJAG00/Web References/MSPULJAG00MSPULJAW00/MSPULJAW00.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/MSPULJAW00/Service1" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/MSPULJAW00/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/MSPULJAW00/Service1">
      <s:element name="mSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pintKBN" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrKBN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrCD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrNAIYO1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrNAIYO2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrDISP_NO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrADD_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrEDT_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTIME" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mSetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mSetSoapIn">
    <wsdl:part name="parameters" element="tns:mSet" />
  </wsdl:message>
  <wsdl:message name="mSetSoapOut">
    <wsdl:part name="parameters" element="tns:mSetResponse" />
  </wsdl:message>
  <wsdl:portType name="MSPULJAW00Soap">
    <wsdl:operation name="mSet">
      <wsdl:input message="tns:mSetSoapIn" />
      <wsdl:output message="tns:mSetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MSPULJAW00Soap" type="tns:MSPULJAW00Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="mSet">
      <soap:operation soapAction="http://tempuri.org/MSPULJAW00/Service1/mSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MSPULJAW00">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="MSPULJAW00Soap" binding="tns:MSPULJAW00Soap">
      <soap:address location="http://knapsv/JPGAP/MS/MSPULJAW/MSPULJAW00/MSPULJAW00.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>