JPG/SY/SYGETJAG/SYGETJAG00/Web References/SYGETJAG00SYGETJAW00/SYGETJAW00.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/SYGETJAW00/Service1" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/SYGETJAW00/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/SYGETJAW00/Service1">
      <s:element name="mExec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgDateM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgDate1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgDate2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrTrgDate3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrDelmonth_ApLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrDelmonth_BatLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrDelmonth_TelLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrDelmonth_File" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pstrDelmonth_BackFile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mExecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mExecResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mExecSoapIn">
    <wsdl:part name="parameters" element="tns:mExec" />
  </wsdl:message>
  <wsdl:message name="mExecSoapOut">
    <wsdl:part name="parameters" element="tns:mExecResponse" />
  </wsdl:message>
  <wsdl:portType name="SYGETJAW00Soap">
    <wsdl:operation name="mExec">
      <wsdl:input message="tns:mExecSoapIn" />
      <wsdl:output message="tns:mExecSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SYGETJAW00Soap" type="tns:SYGETJAW00Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="mExec">
      <soap:operation soapAction="http://tempuri.org/SYGETJAW00/Service1/mExec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SYGETJAW00">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="SYGETJAW00Soap" binding="tns:SYGETJAW00Soap">
      <soap:address location="http://localhost/JPGAP/SY/SYGETJAW/SYGETJAW00/SYGETJAW00.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>